@font-face {
  font-family: "Helvetica regular";
  src: url("../fonts/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/Helvetica-Bold.ttf");
}

/**font variables*/
$helvetica: "Helvetica regular";
$helvetica-bold: "Helvetica Bold";
