footer {
  background-color: #121212fc !important;
  width: 100%;
  height: 200px;
  color: white;
  bottom: 0;
}

.contact__wrapper {
  margin-top: 20px;

  h2.question {
    padding: 1em 0;
    font-family: "helvetica bold";
  }

  h4.email {
    font-family: "work sans mediu";
  }

  .address {
    margin-top: 50px;
    margin-bottom: 150px;
    span {
      display: block;
      font-family: "work sans light";
      padding: 0.2em 0;
      font-size: 15px;
    }
  }
}
