a.navbar-brand {
  white-space: normal;
  word-break: break-all;
}

.navbar-brand img {
  width: 14%;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.sticky-header {
  position: sticky;
  background: white;
  top: 0;
  z-index: 200;
}
