$helvetica-bold: "Helvetica Bold";
$worksans-medium: "work sans medium";
$opensans-light: "open sans light";

.auth-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(
    26,
    64%,
    35%,
    0.38
  ); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;

  @media screen and (max-width: 768px) {
    background-color: transparent;
  }

  .heading {
    margin-top: 2em;
    .logo-section {
      max-width: 200px;
      position: relative;
      left: 15px;

      img {
        width: 60%;
        position: relative;
        top: -15px;
        left: 15px;
      }
    }

    .caption {
      display: inline-block;
      right: 15px;
      position: absolute;
      span {
        font-size: 16px;
        font-family: $opensans-light;
        color: white;
        display: inline-block;
        padding: 0 1em;
      }

      a {
        background-color: #935120;
        padding: 14px 21px;
        border-radius: 5px;
        color: white;
        font-family: $helvetica-bold;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.auth-images {
  height: 100vh;
  overflow-y: hidden;
  .auth-images-wrap {
    position: relative;

    max-width: 1200px;
    margin: auto;

    .wrap__img {
      display: none;

      @media screen and (max-width: 769px) {
        display: block;
      }
    }
    .wrap-img {
      display: flex;
      width: 100%;
      position: relative;
      @media screen and (max-width: 768px) {
        display: none;
      }

      .img_column {
        display: block;
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: 1.45rem;

        .single_img {
          padding: 0.5em 0;
        }
      }
    }
  }
}

.register-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-wrapper {
    z-index: 5;
    background-color: white;
    border-radius: 6px;
    padding: 2.5em;
    max-width: 470px;

    .heading {
      text-align: center;

      h2 {
        font-family: $helvetica-bold;
      }
      h3 {
        font-family: $helvetica-bold;
      }
      span {
        font-family: $worksans-medium;
        font-size: 16px;
        display: inline-block;
        padding: 2em 0;
      }
    }

    .surname-reg {
      display: inline-block;
      width: 48%;
      margin-right: 2%;
      padding: 0.5em 0;

      input {
        width: 100%;
        padding: 0.35rem;
        &::placeholder {
          font-family: $opensans-light;
        }
      }
    }
    .firstname-reg {
      display: inline-block;
      width: 48%;
      margin-left: 2%;
      padding: 0.5em 0;
      input {
        width: 100%;
        padding: 0.35rem;
        &::placeholder {
          font-family: $opensans-light;
        }
      }
    }
    .full {
      padding: 0.5em 0;
      width: 100%;
      input {
        width: 100%;
        padding: 0.35rem;
        &::placeholder {
          font-family: $opensans-light;
        }
      }
    }
    .submit_ {
      padding-top: 1em;
      width: 100%;
      button {
        width: 100%;
        border-radius: 5px;
        background-color: #935120;
        padding: 0.65rem;
        outline: none;
        border: none;
        color: white;
        font-family: $helvetica-bold;

        &:focus {
          outline: none;
          border: none;
        }
      }
    }
  }
}
