.modal-title{
    width: 100%;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
}