.w-100{
    width: 100%;
    background: white;
    height: 250px;
    overflow-y: scroll;
    z-index: 2;
    margin-top: -7px;
    padding: 20px 10px 10px 10px; 
}

a.a-trending{
    text-decoration: none
}

.b-recent{
    border-radius: 10px;
    outline: none;
}

.b-recent:focus {
    outline: none;
}

.s-trending-area{
    padding: 5px;
    border-radius: 15px;
}