$worksans-bold: "work sans bold";

.afro_header {
  position: relative;
  .hero {
    position: absolute;
    top: -200px;
    margin: 0 -15px;
    z-index: -2;
    max-height: 500px;
    overflow: hidden;

    img {
      width: 100%;
      @media screen and (max-width: 768px) {
        height: 55vh;
      }
    }
  }
  .header-search {
    width: 45%;
    h1 {
      font-family: $worksans-bold !important;
      letter-spacing: -1px;
      line-height: 1;
    }
  }
}
